<a href="https://colab.research.google.com/github/kani91/ProgrammingAssignment2/blob/master/index_yelp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Condensing Categorical Values Lab

### Introduction

In this lesson, we'll condense values in the Category column of our restaurants dataset to reduce error due to variance in training our model.

### Loading the Data

In [0]:
import pandas as pd
url_yelp = "https://raw.githubusercontent.com/jigsawlabs-student/feature-engineering/master/9-sparse-categories-yelp/yelp-lunch-nyc.csv"
df = pd.read_csv(url_yelp)

In [0]:
df[:2]

             Name  ...                                           URL
0  Rambling House  ...  http://www.yelp.com/biz/rambling-house-bronx
1      Curry Spot  ...      http://www.yelp.com/biz/curry-spot-bronx

[2 rows x 6 columns]

Let's work on encoding the category.

In [0]:
category_col = df['Category']

Begin by looking at all of the different values for Category and getting the percentage of times each occurs.

In [0]:
category_val = df['Category'].value_counts(normalize=True)
category_val[:3]

# Pizza      0.113750
# Chinese    0.051626
# Italian    0.049045
# Name: Category, dtype: float64

Pizza      0.113750
Chinese    0.051626
Italian    0.049045
Name: Category, dtype: float64

Next select all of the rows from `genre_val`, that occur over 1 percent of the time.

In [0]:
top_categories = category_val[category_val>0.01]
top_categories[:5]

# Pizza             0.113750
# Chinese           0.051626
# Italian           0.049045
# Mexican           0.044571
# American (New)    0.044571
# Name: Category, dtype: float64

Pizza             0.113750
Chinese           0.051626
Italian           0.049045
Mexican           0.044571
American (New)    0.044571
Name: Category, dtype: float64

In [0]:
top_categories.shape
# (27,)

(27,)

We can see there are 27 top categories, and they consist of .80 percent of the data.

In [0]:
top_categories.sum()

0.8070900017208741

Let's scan through the list.

In [0]:
top_categories

Pizza                     0.113750
Chinese                   0.051626
Italian                   0.049045
Mexican                   0.044571
American (New)            0.044571
Japanese                  0.042506
Latin American            0.040096
Sandwiches                0.038892
Delis                     0.038720
Indian                    0.031148
American (Traditional)    0.029771
Thai                      0.029427
Sushi Bars                0.028567
Burgers                   0.022543
Mediterranean             0.019446
Vegetarian                0.019446
Caribbean                 0.018930
Coffee & Tea              0.017037
Seafood                   0.016348
Diners                    0.016176
Vietnamese                0.016004
Middle Eastern            0.014627
Korean                    0.014283
Spanish                   0.013939
Cuban                     0.013079
Greek                     0.011874
Cafes                     0.010669
Name: Category, dtype: float64

> Notice that some of these are pretty similar, and can likely be combined.  We'll avoid doing so here, but if we wanted to condense our columns further it would remain an option.

### Coercing our Remaining Data

Now let's replace the remaining values not meeting our threshold with `Other`.  

First select the `top_category_labels`.

In [0]:
top_category_labels = category_val[category_val>0.01].index

In [0]:
top_category_labels
# Index(['Pizza', 'Chinese', 'Italian', 'Mexican', 'American (New)', 'Japanese',
#        'Latin American', 'Sandwiches', 'Delis', 'Indian',
#        'American (Traditional)', 'Thai', 'Sushi Bars', 'Burgers',
#        'Mediterranean', 'Vegetarian', 'Caribbean', 'Coffee & Tea', 'Seafood',
#        'Diners', 'Vietnamese', 'Middle Eastern', 'Korean', 'Spanish', 'Cuban',
#        'Greek', 'Cafes'],
#       dtype='object')

Index(['Pizza', 'Chinese', 'Italian', 'Mexican', 'American (New)', 'Japanese',
       'Latin American', 'Sandwiches', 'Delis', 'Indian',
       'American (Traditional)', 'Thai', 'Sushi Bars', 'Burgers',
       'Mediterranean', 'Vegetarian', 'Caribbean', 'Coffee & Tea', 'Seafood',
       'Diners', 'Vietnamese', 'Middle Eastern', 'Korean', 'Spanish', 'Cuban',
       'Greek', 'Cafes'],
      dtype='object')

In [0]:
category=df['Category']
category.loc[~(category.isin(top_category_labels))]

0                  Pubs
3           Trinidadian
4        Health Markets
8                 Vegan
12          Ethnic Food
             ...
5768          Malaysian
5780           Southern
5795    Modern European
5798             Kosher
5808           Caterers
Name: Category, Length: 1121, dtype: object

Then replace those values not meeting our `1%` threshold with `Other`.

In [0]:
# update here

category=df['Category']

category.loc[(~category.isin(top_category_labels))] = 'Other'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df['Category'].value_counts(normalize = True)[:10]
# Other             0.192910
# Pizza             0.113750
# Chinese           0.051626
# Italian           0.049045
# Mexican           0.044571
# American (New)    0.044571
# Japanese          0.042506
# Latin American    0.040096
# Sandwiches        0.038892
# Delis             0.038720
# Name: Category, dtype: float64

Other             0.192910
Pizza             0.113750
Chinese           0.051626
Italian           0.049045
Mexican           0.044571
American (New)    0.044571
Japanese          0.042506
Latin American    0.040096
Sandwiches        0.038892
Delis             0.038720
Name: Category, dtype: float64

In [0]:
df['Category'].value_counts(normalize = True).shape
# (28,)

(28,)

So there are now 28 total categories.

Call get_dummies to one hot encode the values in the column.

In [0]:
df_category = pd.get_dummies(df['Category'])

In [0]:
df_category.columns

Index(['Other'], dtype='object')

### Reducing Further

Depending on the model, and our error, we may decide to reduce the number of columns even further.  Let's take another look at the top 15 values and their percentages.

In [0]:
top_fifteen = df['Category'].value_counts(normalize=True)[:15]

top_fifteen[:10]
# Other             0.192910
# Pizza             0.113750
# Chinese           0.051626
# Italian           0.049045
# Mexican           0.044571
# American (New)    0.044571
# Japanese          0.042506
# Latin American    0.040096
# Sandwiches        0.038892
# Delis             0.038720
# Name: Category, dtype: float64

Other             0.192910
Pizza             0.113750
Chinese           0.051626
Italian           0.049045
Mexican           0.044571
American (New)    0.044571
Japanese          0.042506
Latin American    0.040096
Sandwiches        0.038892
Delis             0.038720
Name: Category, dtype: float64

In [0]:
top_fifteen.sum()

0.7981414558595766

0                        Other
1                       Indian
2       American (Traditional)
3                        Other
4                        Other
                 ...
5806                  Japanese
5807            Latin American
5808                     Other
5809            Middle Eastern
5810                     Pizza
Name: Category, Length: 5811, dtype: object

We can see that we capture roughly 80 percent of the data in only fifteen features.  Let's be more agressive with imputing our values.  

Replace any values not in the top fifteen with `Other`, and then call one hot encode our `Category` again.

In [0]:
top_fifteen_vals = df['Category'].value_counts(normalize=True)[:15].index
top_fifteen_vals
#

Index(['Other', 'Pizza', 'Chinese', 'Italian', 'Mexican', 'American (New)',
       'Japanese', 'Latin American', 'Sandwiches', 'Delis', 'Indian',
       'American (Traditional)', 'Thai', 'Sushi Bars', 'Burgers'],
      dtype='object')

In [0]:
# update Category here
df['Category'].loc[~df['Category'].isin(top_fifteen_vals)]='Other'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df['Category'].value_counts(normalize = True)

# Other                     0.394769
# Pizza                     0.113750
# Chinese                   0.051626
# Italian                   0.049045
# Mexican                   0.044571
# American (New)            0.044571
# Japanese                  0.042506
# Latin American            0.040096
# Sandwiches                0.038892
# Delis                     0.038720
# Indian                    0.031148
# American (Traditional)    0.029771
# Thai                      0.029427
# Sushi Bars                0.028567
# Burgers                   0.022543

Other                     0.394769
Pizza                     0.113750
Chinese                   0.051626
Italian                   0.049045
Mexican                   0.044571
American (New)            0.044571
Japanese                  0.042506
Latin American            0.040096
Sandwiches                0.038892
Delis                     0.038720
Indian                    0.031148
American (Traditional)    0.029771
Thai                      0.029427
Sushi Bars                0.028567
Burgers                   0.022543
Name: Category, dtype: float64

Then call get dummies again on the category to further reduce the features.

In [0]:
# one hot encode the feature here
df_final=pd.get_dummies(df['Category'])
df_final[:2]
# 	American (Traditional)	Burgers	Chinese	Delis	Indian	Italian	Japanese	Latin American	Mexican	Other	Pizza	Sandwiches	Sushi Bars	Thai
# 0	0	0	0	0	0	0	0	0	0	1	0	0	0	0
# 1	0	0	0	0	1	0	0	0	0	0	0	0	0	0

   American (New)  American (Traditional)  ...  Sushi Bars  Thai
0               0                       0  ...           0     0
1               0                       0  ...           0     0

[2 rows x 15 columns]

### Summary

In this lesson we practiced condensing infrequent categorical values.  This allows to create fewer features when one hot encoding our data.  Creating fewer features reduces the variance in our model.